<!DOCTYPE html>
<html lang="en">
<!--
    Author(s):  Christian Escobarete & Sarah & Nick & Yasir
    Class: Software Engineering
    Description: Final Project
-->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scaled=1.0">
        <title>Final Project</title>
        <!--CSS code-->
        <style>  
        </style>
        <!--JS code-->
        <script>
        </script> 
    </head>
    <body>
        <h1>Final Project</h1>
        <p>Will be used for final project</p>
    </body>
</html>